@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");  /* "Open Sans" */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');  /* "Josefin Sans" */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300;900&display=swap'); /* "Crimson Pro" */
/* much easier way to import fonts */
/* These must precede all other rules */

body {
  /* background-color: rgb(31, 198, 132) */
  font-family: "Crimson Pro", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  /* Atom homepage colors */
  /* text: #efdab9 background: #343233 */
  margin: 0px;  /* fills browser window */
  padding: 0px;
  /* background-color: #343233;  /* default background color */
  /* color: #ddcdcd; */
}
#master-container {
  width: 100%;  /* TODO: add a way to adjust window size whenever a user stops dragging the edge of their screen (like News app) */
  /* overriding margins are applied, but stretching beyond the margins will auto-fill */
  /* there is an experimental CSS rule called @size, among other ways of acheiving a fixed box */
}
#header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  /*border: black 2px solid;*/
  padding: 0;
  margin: 0;
}
#content-container {
  margin-top: 90px;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 0em;
  padding-bottom: 5em;
}
article section {
  margin-left: 1em;
  padding-bottom: 2em;
  border-bottom: 1px black solid;
  border-length: 20px;
}

aside {
  float: right;

  padding-right: 2px;
  padding-left: 2px;
  padding-top: 6px;
  padding-bottom: 2px;

  margin-right: auto;
  margin-left: auto;  /* centers the aside in the middle of the page */

  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
}
aside h1 {
  font-family: "Josefin Sans", Verdana, sans-serif;
  font-size: 300%;
  text-align: center;
}
h1 {
  /* color: rgb(123, 175, 212); */  /* official UNC blue! */
  font-family: "Marvin Visions", sans-serif;
  font-size: 300%;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  background-size: 100%;
  font-size: 200%;
  border-bottom-width: medium;
  border-bottom-style: solid;
}
img {
  vertical-align: middle;
  /* border-style: none; */
}
li {
  list-style-type: square;  /* changes bullet */
  font-size: 130%;
}
p {
  padding-bottom: 0.5em;
  margin: 0;
  font-family: "Crimson Pro", sans-serif;
  line-height: 1.6;  /* relative to font size */
  font-weight: 400;  /* Regular */
  text-align: left;
  font-size: 130%;
  /* border: 2px solid rgb(63, 63, 73); */
}
.header {
  /* overflow: hidden; */
  width: 100%;
  /*background-color: rgb(255, 61, 0);*/
  background-color: rgb(255, 124, 3);
  background-image: linear-gradient(90deg, rgb(255, 124, 3) 60%, rgb(255, 17, 117));
  color: black;
}
.header h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 5px;
  margin: 0;
  font-size: 200%;
}
.navbar {
  overflow: hidden;
  /* background-color: rgb(255, 61, 0); */
  width: 100%;
  margin-left: 20px;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-weight: 100;
  color: white;
}
.navbar a {
  overflow: hidden;
  float: left;
  font-size: 130%;
  border-radius: 2em;
  color: white;
  /*text-decoration: underline 0.15em rgba(255, 255, 255, 0);*/
  /*transition: text-decoration-color 300ms;*/
  text-decoration: none;
  text-align: center;
  padding: 0.5em;
  margin-right: 1em;
  background-color: #333333;
  transition: color 300ms;
}
.navbar a:hover {
  /*text-decoration-color: rgba(255, 255, 255, 1);*/
  /*background-image: linear-gradient(90deg, #d42323, rgb(255, 124, 3));*/
  color: rgb(255, 124, 3);
}
.column-thirds {
  width: 30%;
  height: 750px;  /* if the text extands past the height, it will clip into objects below */
  float: left;
}
.footer-1 {
  background-color: #7bafd4;
  /*
  position: absolute;
  bottom: 0;  /* this literally ust fixes it to the window and if you scroll down it's hanging in midair */
  padding: 5px;
}
.highlight {
  background-color: yellow;  /* can be used with the span tag to apply a highlighter effect to text */
}
.text_wide {
  letter-spacing: 4px;
}
.nav-bar-gradient {
  background-color: black;
  background-color: transparent;
  background-size: 100%;
  background-repeat: repeat;
  background-image: linear-gradient(90deg, #d42323, #d010b7);
}
.generic-gradient {
  background-color: black;  /* fallback in case the gradient doesn't work */
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.gradient-red-to-pink {
  /* fallback is a solid background color */
  background-color: #d42323;
  /* make a linear gradient background */
  background-image: linear-gradient(90deg, #d42323, #d010b7);
  /* rgb(255, 124, 3); */
}
.gradient-red-to-orange {
  background-color: rgb(255, 124, 3);
  background-image: linear-gradient(90deg, #d42323, rgb(255, 124, 3));
}
.gradient-blue-to-light-blue {
  background-color: #d42323;
  /* #080974 */
  /* #7bafd4 */
  /* #265326 */
  background-image: linear-gradient(90deg, #1c278a, #7bafd4);
}
.gradient-blue-to-pink {
  background-color: #5288BA;
  background-image: linear-gradient(90deg, #5288BA, #995470);
}

@font-face {
  font-family: "Marvin Visions";
  src: url("fonts/marvin_visions/MarvinVisionsBig-Bold.woff2"),
       url("fonts/marvin_visions/MarvinVisionsBig-Bold.woff"),
       url("fonts/marvin_visions/MarvinVisionsBig-Bold.ttf");
}
